---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "tests/e2e/compilation/test_data/test_node_modules/"
    schedule:
      interval: "weekly"
    exclude-paths:
      - "**/*"
