*                            @montyly @0xalpharush @smonicas
/slither/tools/read_storage/ @0xalpharush
/slither/tools/doctor/       @elopez
/slither/slithir/            @montyly
/slither/analyses/           @montyly
/.github/workflows/          @elopez
