{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="text-center">
            <div class="error mx-auto" >Fail</div>
            <p class="lead text-gray-800 mb-5">Try to choose another Compiler.</p>
            <a href="detect_file">&larr; Back to detect</a>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}