{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Printers</h1>


          <!-- Outer Row -->
        <div class="row justify-content-center">

          <div class="col-xl-10 col-lg-12 col-md-9">

              <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                      <!-- Nested Row within Card Body -->
                      <form class="form" id="upload_form" method="post" enctype="multipart/form-data" type="file">
                              <div class="p-5">
                                <div class="row form-group ">
                                    <h3 class="text-gray-900">Choose Printers</h3>
                                    <select class="form-control text-gray-900"  id="select_printers" name="printers" method="GET" action="/">
                                        <option value="{{printers[0]}}" selected>{{printers[0]}}</option>
                                          {% for printer in printers[1:] %}
                                            <option value="{{printer}}">{{printer}}</option>
                                          {% endfor %}
                                    </select>
                                </div>
                                <div class="row form-group ">
                                    <h3 class="text-gray-900">Choose Solidity Compiler</h3>
                                        <select  class="form-control  text-gray-800" id="select_solc" name="select_solc">
                                            <option value="{{solc[0]}}" selected>{{solc[0]}}</option>
                                            {% for solc in solc[1:] %}
                                                <option value= "{{solc}}">{{solc}}</option>"
                                            {% endfor %}
                                        </select>
                                </div>
                                <br>
                                  
                                  <hr>

                                  <div class="card shadow mb-4">
                                    <!-- Card Header - Accordion -->
                                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                      <h6 class="m-0 font-weight-bold text-primary">Data Upload</h6>
                                    </a>
                                    <!-- Card Content - Collapse -->
                                    <div class="collapse show" id="collapseCardExample">
                                      <div id="data_upload" class="card-body text-center">
                                        
                                            <input class="form-control-file border text-gray-900" id="result_data" name="result_data"  required type="file">
                                            <h6>*僅接受 sol 格式的檔案</h6> 
                                        <input class="btn btn-success" id="submit" name="submit"  type="submit" value="Submit">
                                    </div>
                                  </form>

                                  <div id="data_loading" class="loading_box text-center">
                                    <button class="btn btn-success" disabled>
                                        <span class="spinner-border spinner-border-sm"></span>
                                        Loading..
                                    </button>	
                                </div>

                                  <hr>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

      </div>

        </div>
        <!-- /.container-fluid -->

        
      </div>
      <!-- End of Main Content -->

      <script>
        var  select_detector_list=[];
		$(document).ready(function () {
			$('#data_loading').hide();
            
		});

        const fileUploader = document.querySelector('#result_data');

		fileUploader.addEventListener('change', (e) => {
  		console.log(e.target.files); // get file object
		});

        //$(document).on('submit', '#upload_form', function () {
        $('#upload_form').submit(function(){
            var fullPath = document.getElementById('result_data');
            var fileExp = /(.*?)\.(sol)$/;
			
			if ($('#result_data').val() == '') {
                return false;
            }

			if (fullPath.value.toLowerCase().match(fileExp)) {
				$('#data_upload').hide();
            	$('#data_loading').show();
                return true;
            } else {
                document.getElementById('upload_form').reset();
				alert("僅接受 sol 格式的檔案");
                return false;
            }
            
            
			document.getElementById('upload_form').reset();
        });
        </script>
{% endblock %}

{% block js %}
{{ super() }}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script>
{% endblock %}