name: CI

defaults:
  run:
    # To load bashrc
    shell: bash -ieo pipefail {0}

on:
  push:
    branches:
      - master
      - dev
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron:  '0 12 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type: ["cli",
               "data_dependency", 
               "embark", 
               "erc", 
               "etherlime", 
               "find_paths", 
               "kspec", 
               "printers", 
               "simil", 
               "slither_config", 
               "truffle", 
               "upgradability",
               "prop"]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python setup.py install
        # Used by ci_test.sh
        pip install deepdiff

        pip install solc-select
        solc use 0.5.1

    - name: Run Tests
      env:
        TEST_TYPE: ${{ matrix.type }}
        GITHUB_ETHERSCAN: ${{ secrets.GITHUB_ETHERSCAN }}
      run: |
        bash scripts/ci_test_${TEST_TYPE}.sh
