---
name: CI

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - 'slither/**'
      - 'tests/**'
      - 'scripts/**'
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/workflows/ci.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: >-
          ${{ (github.event_name == 'pull_request' && fromJSON('["ubuntu-latest"]'))
          || fromJSON('["ubuntu-latest", "windows-2025"]') }}
        python: >-
          ${{ (github.event_name == 'pull_request' && fromJSON('["3.10", "3.14"]'))
          || fromJSON('["3.10", "3.11", "3.12", "3.13", "3.14"]') }}
        type: >-
          ${{ (github.event_name == 'pull_request'
          && fromJSON('["data_dependency", "path_filtering", "erc", "find_paths",
          "flat", "interface", "printers", "slither_config", "upgradability"]'))
          || fromJSON('["data_dependency", "path_filtering", "erc", "find_paths",
          "flat", "interface", "printers", "slither_config", "upgradability",
          "cli", "dapp", "etherscan", "kspec", "simil", "truffle"]') }}
        exclude:
          # Requires nix
          - os: windows-2025
            type: dapp
          # Requires nvm
          - os: windows-2025
            type: truffle
          # fasttext fails to install on Windows
          - os: windows-2025
            type: simil
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6
        with:
          persist-credentials: false
      - name: Install uv and Python ${{ matrix.python }}
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b  # v7
        with:
          python-version: ${{ matrix.python }}
          activate-environment: true
          enable-cache: true
      - name: Install dependencies
        run: |
          uv sync --group test
          solc-select use 0.8.0 --always-install
          solc-select use 0.7.0 --always-install
          solc-select use 0.5.1 --always-install
          solc-select use 0.4.25 --always-install

      - name: Set up nix
        if: matrix.type == 'dapp'
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15  # v31

      - name: Set up cachix
        if: matrix.type == 'dapp'
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1  # v16
        with:
          name: dapp

      - name: Run Tests
        env:
          PYTHONUTF8: 1
          TEST_TYPE: ${{ matrix.type }}
          GITHUB_ETHERSCAN: ${{ secrets.GITHUB_ETHERSCAN }}
        run: |
          bash "scripts/ci_test_${TEST_TYPE}.sh"
