---
name: Features tests

defaults:
  run:
    # To load bashrc
    shell: bash -ieo pipefail {0}

on:
  pull_request:
    branches: [master, dev]
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron: '0 12 * * *'

jobs:
  build:
    name: Features tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-2022]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          pip install ".[dev]"

          solc-select install all
          solc-select use 0.8.0

          cd tests/test_node_modules/
          npm install hardhat
          cd ../..

      - name: Test with pytest
        run: |
          pytest tests/test_features.py
          pytest tests/test_constant_folding_unary.py
          pytest tests/slithir/test_ternary_expressions.py
          pytest tests/test_functions_ids.py
          pytest tests/test_function.py
          pytest tests/test_source_mapping.py
          pytest tests/test_detectors_mocked_contract.py
