---
name: pip-audit

on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [ dev, master ]
  schedule: [ cron: "0 7 * * 2" ]

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Slither
        run: |
          python -m venv /tmp/pip-audit-env
          source /tmp/pip-audit-env/bin/activate

          python -m pip install --upgrade pip
          python -m pip install .

      - name: Run pip-audit
        uses: trailofbits/gh-action-pip-audit@v0.0.4
        with:
          virtual-environment: /tmp/pip-audit-env
